<% if @user.errors.any? %>
  <%= @user.errors.count %> error prohibited this obj from being saved:
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="col-sm-12 col-md-8 col-lg-5 mx-auto px-0">
<h2>User info</h2>

<%= form_with model: @user do |f| %>

  <label class="w-100" for="name_field">Name</label>
  <div class="form_field mb-3">
    <%= f.text_field :name, class: "name_field w-100 form-control border border-secondary rounded" %>
  </div>
  
  <label class="w-100" for="image_field">Image</label>
  <div class="form_field mb-3">
    <%= f.file_field :profile_image, class: "image_field", accept: "image/*" %>
  </div>
  
  <label for="introduction_field">Introduction</label>
  <<div class="form_field mb-3">
    <%= f.text_area :introduction, class: "introduction_field w-100 form-control border border-secondary rounded" %>
  </div>
  
  <div class="form-button">
    <%= f.submit 'Update User', class: "bg-secondary text-light border-0 rounded px-3 py-2" %>
  </div>
  
<% end %>
</div>
