<%= render 'showuser', user: @user %>
<%= render 'books/newbook', book: @book %>

<h1>Users</h1>

<table>
  <th>
    <tr>
      <td>image</td>
      <td>name</td>
    </tr>
  </th>
  <% @users.each do |user| %>
    <tr>
      <td><%= image_tag user.get_profile_image(80, 80) %></td>
      <td><%= user.name %></td>
      <td>
        <%= link_to 'show', user_path(user) %>
      </td>
    </tr>
  <% end %>
</table>