<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta charset="utf-8"
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/94091b4590.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav class="navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <div class="row px-5 d-flex align-items-center">
            <%= link_to root_path, class: "nav-link text-light mt-3 mb-3 ml-0" do %>
            <span class="home-top text-light">Bookers</span>
            <% end %>

            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNavDropdown">

              <ul class="navlist d-lg-flex ml-auto mb-0">
              <% if user_signed_in? %>
                <li class="list-item mb-2 m-lg-0">
                  <%= link_to user_path(current_user.id), class: "text_light nav-link" do %>
                  <i class="fa-solid fa-home text-light"></i><span class="text-light mr-3"> Home</span>
                  <% end %>
                </li>
                <li class="list-item my-2 m-lg-0">
                  <%= link_to users_path, class: "text_light nav-link" do %>
                    <i class="fa-solid fa-users text-light"></i><span class="text-light mr-3"> Users</span>
                  <% end %>
                </li>
                <li class="list-item my-2 m-lg-0">
                  <%= link_to books_path, class: "text_light nav-link" do %>
                    <i class="fa-solid fa-book-open text-light"></i><span class="text-light mr-3"> Books</span>
                  <% end %>
                </li>
                <li class="list-item mt-2 mb-3 m-lg-0">
                  <%= link_to destroy_user_session_path, class: "text_light nav-link", method: :delete do %>
                    <i class="fa-solid fa-sign-out-alt text-light"></i><span class="text-light"> Log out</span>
                  <% end %>
                </li>
              <% else %>
                <li class="list-item mb-2 m-lg-0">
                  <%= link_to root_path, class: "text_light nav-link" do %>
                    <i class="fa-solid fa-home text-light"></i><span class="text-light mr-3"> Home</span>
                  <% end %>
                </li>
                <li class="list-item my-2 m-lg-0">
                  <%= link_to home_about_path, class: "text_light nav-link" do %>
                    <i class="fa-solid fa-link text-light"></i><span class="text-light mr-3"> About</span>
                  <% end %>
                </li>
                <li class="list-item my-2 m-lg-0">
                  <%= link_to new_user_registration_path, class: "text_light nav-link" do %>
                    <i class="fa-solid fa-user-plus text-light"></i><span class="text-light mr-3"> Sign up</span>
                  <% end %>
                </li>
                <li class="list-item mt-2 mb-3 m-lg-0">
                  <%= link_to new_user_session_path, class: "text_light nav-link" do %>
                    <i class="fa-solid fa-solid fa-sign-in-alt text-light"></i><span class="text-light"> Log in</span>
                  <% end %>
                </li>
              <% end %>
              </ul>
              
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <%= flash[:notice] %>
      <div class="container mt-3 px-0">
  
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </main>

    <footer>
      <div class="container">
        <div class="row mt-4">
          <p class=" mx-auto my-3">CopyRight Infratop.inc</p>
        </div>
      </div>
    </footer>

  </body>
</html>
